{% extends 'layouts/dashboard_layout.html' %}

{% block title %}Inicio{% endblock %}

{% block dashboard_content %}
<div class="flex items-center justify-center">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
        {% for silabo in silabos %}
        <!--Card -->
        <div class="relative bg-white py-6 px-6 rounded-3xl w-64 my-4 shadow-xl hover:drop-shadow-xl">
            <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content w-12 rounded-full">
                    <span>{{ forloop.counter }}</span>
                </div>
            </div>
            <div class="mt-8">
                <p class="text-xl font-semibold my-2"><a href="{% url 'contenido_list_tracking' silabo.pk %}">{{ silabo.asignatura.nombre }}</a></p>
                <div class="flex space-x-2 text-gray-400 text-sm items-center">
                    <!-- svg  -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-book">
                        <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/>
                    </svg>
                    <p>Unidad {{ silabo.asignatura.eje_formacion }}</p>
                </div>
                <div class="flex space-x-2 text-gray-400 text-sm my-3 items-center">
                    <!-- svg  -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-calendar-range">
                        <rect width="18" height="18" x="3" y="4" rx="2"/>
                        <path d="M16 2v4"/>
                        <path d="M3 10h18"/>
                        <path d="M8 2v4"/>
                        <path d="M17 14h-6"/>
                        <path d="M13 18H7"/>
                        <path d="M7 14h.01"/>
                        <path d="M17 18h.01"/>
                    </svg>
                    <p>{{ silabo.periodo_academico }}</p>
                </div>
                <div class="border-t-2"></div>

                <div class="flex justify-between">
                    <div class="my-2">
                        <p class="font-semibold text-base mb-2">Docente</p>
                        <div class="flex space-x-2">
                            <p>Daniel Egas</p>
                        </div>
                    </div>
                    <div class="my-2 p-1">
                        <div class="radial-progress" style="--value:{{ silabo.progreso }};"
                             role="progressbar">{{ silabo.progreso }}%</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock dashboard_content %}