{% extends 'layouts/dashboard_layout.html' %}

{% load static tailwind_tags %}

{% block title %}{{ silabo }}{% endblock %}

{% block dashboard_content %}
<div class="w-full space-y-4">
    <div class="grid grid-cols-2">
        <h2 class="font-bold text-lg">{{ silabo }}</h2>
    </div>
    <!--Sección Tabs-->
    <div role="tablist" class="tabs tabs-boxed">
        <a role="tab" class="tab" href="{% url 'silabo_detail' silabo.pk %}">Información General</a>
        <a role="tab" class="tab bg-sky-800 text-white">Contenido Programático</a>
    </div>
    <!--Sección Tabla de Contenidos-->
    <div class="border rounded-lg space-y-3 p-4">
        <h3 class="font-semibold">Contenido Programátco</h3>
        <table class="table-auto w-full">
            <thead class="text-center">
            <tr class="bg-slate-100 text-sm">
                <th class="border-b py-3">Semana</th>
                <th class="border-b py-3">Unidad de Aprendizaje Temas y Subtemas</th>
                <th class="border-b py-3">Con el Docente</th>
                <th class="border-b py-3">N° Horas</th>
                <th class="border-b py-3">Prácticas</th>
                <th class="border-b py-3">N° Horas</th>
                <th class="border-b py-3">Autónomas</th>
                <th class="border-b py-3">N° Horas</th>
                <th class="border-b py-3">Resultados de Aprendizaje</th>
                <th class="border-b py-3">Evidencias de Aprendizajes</th>
                <th class="border-b py-3"></th>
            </tr>
            </thead>
            <tbody>
            {% for contenido in contenidos %}
            <tr>
                <td class="p-3 border-b text-center">{{ contenido.semana }}</td>
                <td class="p-3 border-b">{{ contenido.contenido }}</td>
                <td class="p-3 border-b">{{ contenido.actividades_docente }}</td>
                <td class="p-3 border-b text-center">{{ contenido.horas_docente }}</td>
                <td class="p-3 border-b">{{ contenido.actividades_practicas }}</td>
                <td class="p-3 border-b text-center">{{ contenido.horas_practica }}</td>
                <td class="p-3 border-b">{{ contenido.actividades_autonomas }}</td>
                <td class="p-3 border-b text-center">{{ contenido.horas_autonomas }}</td>
                <td class="p-3 border-b">{{ contenido.resultados }}</td>
                <td class="p-3 border-b">{{ contenido.evidencias }}</td>
                <td class="p-3 border-b font-bold">
                    <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="btn btn-xs m-1">...</div>
                        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                            <li><a href="{% url 'contenido_update' contenido.pk %}">Editar</a></li>
                            <li><a href="{% url 'contenido_delete' contenido.pk %}">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock dashboard_content %}