{% extends 'layouts/dashboard_layout.html' %}

{% load static tailwind_tags %}

{% block title %}Syllabus{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs text-sm text-slate-500">
    <ul>
        <li><a href="{% url 'silabo_list' %}">Syllabus</a></li>
    </ul>
</div>
{% endblock %}

{% block dashboard_content %}
<div class="w-full">
    <div class="grid grid-cols-2 content-center">
        <h2 class="font-bold text-lg">Syllabus</h2>
        <div class="justify-self-end">
            <a class="btn btn-sm btn-success text-white" href="{% url 'silabo_new' %}">+ Nuevo</a>
        </div>
    </div>
    <br/>
    <table class="w-full table-auto p-12">
        <thead>
        <tr class="bg-slate-100">
            <th class="border-b py-3">Asignatura</th>
            <th class="border-b py-3">Facultad</th>
            <th class="border-b py-3">Carrera</th>
            <th class="border-b py-3">Fecha de creación</th>
            <th class="border-b py-3">Fecha de actualización</th>
            <th class="border-b py-3">Estado</th>
        </tr>
        </thead>
        <tbody>
        {% for silabo in silabos %}
        <tr class="text-left odd:bg-white even:bg-slate-100">
            <td class="p-3">
                <a href="{% url 'silabo_detail' silabo.pk %}"
                   class="underline underline-offset-2 hover:text-sky-700">
                    {{ silabo }}
                </a>
            </td>
            <td class="p-3">{{ silabo.facultad }}</td>
            <td class="p-3">{{ silabo.carrera }}</td>
            <td class="p-3">{{ silabo.fecha_creacion }}</td>
            <td class="p-3">{{ silabo.fecha_actualizacion }}</td>
            <td class="p-3">
                {% if silabo.estado == 'aprobado' %}
                <div class="badge badge-lg badge-outline badge-success">Aprobado</div>
                {% elif silabo.estado == 'pendiente' %}
                <div class="badge badge-lg badge-outline badge-info">Pendiente</div>
                {% elif silabo.estado == 'rechazado' %}
                <div class="badge badge-lg badge-outline badge-error">Rechazado</div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock dashboard_content %}