{% extends 'layouts/dashboard_layout.html' %}

{% load static tailwind_tags %}

{% block title %}{{ silabo }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs text-sm text-slate-500">
    <ul>
        <li><a href="{% url 'silabo_list' %}">Syllabus</a></li>
        <li>{{ silabo.asignatura.nombre }}</li>
    </ul>
</div>
{% endblock %}

{% block dashboard_content %}
<div class="w-full space-y-4">
    <div class="grid grid-cols-2">
        <h2 class="font-bold text-lg">{{ silabo }}</h2>
        <div class="justify-self-end">
            <a class="btn btn-sm btn-info text-white" href="{% url 'silabo_update' silabo.pk %}">
                Editar
            </a>
        </div>
    </div>
    <!--Sección Tabs-->
    <div role="tablist" class="tabs tabs-boxed">
        <a role="tab" class="tab bg-sky-800 text-white">Información General</a>
        <a role="tab" class="tab" href="{% url 'contenido_list' silabo.pk %}">Contenido Programático</a>
    </div>
    <!--Sección Información General-->
    <div class="border rounded-lg space-y-3 p-4">
        <h3 class="font-semibold">Información General</h3>
        <div class="grid grid-cols-2">
            <div>
                <h4 class="font-semibold text-slate-700">Facultad</h4>
                {{ silabo.facultad }}
            </div>
            <div>
                <h4 class="font-semibold text-slate-700">Carrera</h4>
                {{ silabo.carrera }}
            </div>
        </div>
    </div>
    <!--Sección Asignatura-->
    <div>
        <div class="grid grid-cols-2 gap-4">
            <div class="border rounded-lg p-4 space-y-3">
                <div>
                    <h4 class="font-semibold mb-2">Información Asignatura</h4>
                    <a class="underline underline-offset-2 hover:text-sky-700"
                       href="{% url 'asignatura_detail' silabo.asignatura.codigo %}">
                        {{ silabo.asignatura }}
                    </a>
                </div>
                <div>
                    <h4 class="font-semibold text-slate-700">Año Académico</h4>
                    <p>{{ silabo.anio_academico }}</p>
                </div>
                <div>
                    <h4 class="font-semibold text-slate-700">Periodo Académico</h4>
                    <p>{{ silabo.periodo_academico }}</p>
                </div>
            </div>
            <div class="grid rows gap-4">
                <div class="border rounded-lg p-4 grid grid-cols-2">
                    <div>
                        <h4 class="font-semibold text-slate-700">Fecha de Inicio</h4>
                        <p>{{ silabo.fecha_inicio }}</p>
                    </div>
                    <div>
                        <h4 class="font-semibold text-slate-700">Fecha de Finalización</h4>
                        <p>{{ silabo.fecha_finalizacion }}</p>
                    </div>
                </div>
                <div class="border rounded-lg p-4 grid grid-cols-2">
                    <div>
                        <h4 class="font-semibold text-slate-700">Horario de Clase</h4>
                        <p>{{ silabo.horario_clase }}</p>
                    </div>
                    <div>
                        {% if silabo.horas_tutorias %}
                        <h4 class="font-semibold text-slate-700">Horas de Tutorías</h4>
                        <p>{{ silabo.horas_tutorias }}</p>
                        {% endif %}
                        {% if silabo.horario_tutorias %}
                        <h4 class="font-semibold text-slate-700">Horario de Tutorías</h4>
                        <p>{{ silabo.horario_tutorias }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sección Docente-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Información Docente</h3>
        <div class="grid grid-cols-3 gap-4">
            <div>
                <h4 class="font-semibold text-slate-700">Apellidos y Nombres</h4>
                <p>{{ silabo.docente }}</p>
            </div>
            <div>
                <h4 class="font-semibold text-slate-700">Formación</h4>
                <p>{{ silabo.docente.formacion }}</p>
            </div>
            <div>
                <h4 class="font-semibold text-slate-700">Email Docente</h4>
                <p>{{ silabo.docente.email }}</p>
            </div>
        </div>
    </div>
    <!--Sección Caracterización de la asignatra-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Caracterización de la Asignatura</h3>
        <div><p>{{ silabo.caracterizacion_asignatura }}</p></div>
    </div>
    <!--Sección Objetivos-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Objetivos</h3>
        <div><p>{{ silabo.objetivos }}</p></div>
    </div>
    <!--Sección Competencias Transversales-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Competencias Transversales o Genéricas</h3>
        <div><p>{{ silabo.competencias_transversales }}</p></div>
    </div>
    <!--Sección Competencias Profesionales-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Competencias Profesionales</h3>
        <div><p>{{ silabo.competencias_profesionales }}</p></div>
    </div>
    <!--Sección Metodología-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Metodología</h3>
        <div><p>{{ silabo.metodologia }}</p></div>
    </div>
    <!--Sección Procedimientos de Evaluación-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Procedimientos de Evaluación</h3>
        <div><p>{{ silabo.evaluacion }}</p></div>
        <div class="grid grid-cols-5">
            <table class="col-start-2 col-span-3 table-auto">
                <thead>
                <tr class="bg-slate-100">
                    <th class="border-b py-3">Actividades</th>
                    {% for aporte in aportes %}
                    <th class="border-b py-3">{{ aporte }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="p-3 border-b">
                        <ul>
                            <li>Tareas</li>
                            <li>Talleres</li>
                            <li>Investigación</li>
                            <li>Lecciones</li>
                            <li>Pruebas</li>
                            <li>Presentaciones</li>
                        </ul>
                    </td>
                    {% for aporte in aportes %}
                    <td class="p-3 border-b text-center">{{ aporte.actividades }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="p-3 border-b">Examen Escrito u Oral</td>
                    {% for aporte in aportes %}
                    <td class="p-3 border-b text-center">{{ aporte.examen }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="p-3 border-b">Proyecto Final</td>
                    {% for aporte in aportes %}
                    <td class="p-3 border-b text-center">{{ aporte.proyecto_final }}</td>
                    {% endfor %}
                </tr>
                <tr class="bg-slate-100">
                    <td class="p-3 border-b">Total</td>
                    {% for aporte in aportes %}
                    <td class="p-3 border-b text-center">{{ aporte.total }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Sección Bibliografía-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Bibliografía</h3>
        <div><p>{{ silabo.bibliografia }}</p></div>
    </div>
    <!--Sección Anexos-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Anexos</h3>
        <div><p>{{ silabo.anexos }}</p></div>
    </div>
</div>
{% endblock dashboard_content %}