{% extends 'layouts/dashboard_layout.html' %}

{% load static tailwind_tags %}
{% block dashboard_content %}
<div class="w-full space-y-4">
    <div class="grid grid-cols-2">
        <h2 class="font-bold text-lg">{{ silabo }}</h2>
    </div>
    <!--Sección Información General-->
    <div class="border rounded-lg space-y-3 p-4">
        <h3 class="font-semibold">Información General</h3>
        <div class="grid grid-cols-2">
            <div>
                <h4 class="font-semibold text-slate-700">Facultad</h4>
                {{ silabo.facultad }}
            </div>
            <div>
                <h4 class="font-semibold text-slate-700">Carrera</h4>
                {{ silabo.carrera }}
            </div>
        </div>
    </div>
    <!--Sección Asignatura-->
    <div>
        <div class="grid grid-cols-2 gap-4">
            <div class="border rounded-lg p-4 space-y-3">
                <div>
                    <h4 class="font-semibold mb-2">Información Asignatura</h4>
                    <a class="underline underline-offset-2 hover:text-sky-700"
                       href="{% url 'asignatura_detail' silabo.asignatura.codigo %}">
                        {{ silabo.asignatura }}
                    </a>
                </div>
                <div>
                    <h4 class="font-semibold text-slate-700">Año Académico</h4>
                    <p>{{ silabo.anio_academico }}</p>
                </div>
                <div>
                    <h4 class="font-semibold text-slate-700">Periodo Académico</h4>
                    <p>{{ silabo.periodo_academico }}</p>
                </div>
            </div>
            <div class="grid rows gap-4">
                <div class="border rounded-lg p-4 grid grid-cols-2">
                    <div>
                        <h4 class="font-semibold text-slate-700">Fecha de Inicio</h4>
                        <p>{{ silabo.fecha_inicio }}</p>
                    </div>
                    <div>
                        <h4 class="font-semibold text-slate-700">Fecha de Finalización</h4>
                        <p>{{ silabo.fecha_finalizacion }}</p>
                    </div>
                </div>
                <div class="border rounded-lg p-4 grid grid-cols-2">
                    <div>
                        <h4 class="font-semibold text-slate-700">Horario de Clase</h4>
                        <p>{{ silabo.horario_clase }}</p>
                    </div>
                    <div>
                        {% if silabo.horas_tutorias %}
                        <h4 class="font-semibold text-slate-700">Horas de Tutorías</h4>
                        <p>{{ silabo.horas_tutorias }}</p>
                        {% endif %}
                        {% if silabo.horario_tutorias %}
                        <h4 class="font-semibold text-slate-700">Horario de Tutorías</h4>
                        <p>{{ silabo.horario_tutorias }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sección Docente-->
    <div class="border rounded-lg p-4 space-y-3">
        <h3 class="font-semibold">Información Docente</h3>
        <div class="grid grid-cols-3 gap-4">
            <div>
                <h4 class="font-semibold text-slate-700">Apellidos y Nombres</h4>
                <p>{{ silabo.docente }}</p>
            </div>
            <div>
                <h4 class="font-semibold text-slate-700">Formación</h4>
                <p>{{ silabo.docente.formacion }}</p>
            </div>
            <div>
                <h4 class="font-semibold text-slate-700">Email Docente</h4>
                <p>{{ silabo.docente.email }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}